@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Outfit, sans-serif;
  --font-mono: Space Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.9735 0.0261 90.0953);
  --foreground: oklch(0.3092 0.0518 219.6516);
  --card: oklch(0.9306 0.0260 92.4020);
  --card-foreground: oklch(0.3092 0.0518 219.6516);
  --popover: oklch(0.9306 0.0260 92.4020);
  --popover-foreground: oklch(0.3092 0.0518 219.6516);
  --primary: oklch(0.5924 0.2025 355.8943);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6437 0.1019 187.3840);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.6979 0.0159 196.7940);
  --muted-foreground: oklch(0.3092 0.0518 219.6516);
  --accent: oklch(0.5808 0.1732 39.5003);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5863 0.2064 27.1172);
  --border: oklch(0.6537 0.0197 205.2618);
  --input: oklch(0.6537 0.0197 205.2618);
  --ring: oklch(0.5924 0.2025 355.8943);
  --chart-1: oklch(0.6149 0.1394 244.9273);
  --chart-2: oklch(0.6437 0.1019 187.3840);
  --chart-3: oklch(0.5924 0.2025 355.8943);
  --chart-4: oklch(0.5808 0.1732 39.5003);
  --chart-5: oklch(0.5863 0.2064 27.1172);
  --sidebar: oklch(0.9735 0.0261 90.0953);
  --sidebar-foreground: oklch(0.3092 0.0518 219.6516);
  --sidebar-primary: oklch(0.5924 0.2025 355.8943);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6437 0.1019 187.3840);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6537 0.0197 205.2618);
  --sidebar-ring: oklch(0.5924 0.2025 355.8943);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(196 83% 10%);
  --shadow-opacity: 0.15;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2673 0.0486 219.8169);
  --foreground: oklch(0.6979 0.0159 196.7940);
  --card: oklch(0.3092 0.0518 219.6516);
  --card-foreground: oklch(0.6979 0.0159 196.7940);
  --popover: oklch(0.3092 0.0518 219.6516);
  --popover-foreground: oklch(0.6979 0.0159 196.7940);
  --primary: oklch(0.5924 0.2025 355.8943);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6437 0.1019 187.3840);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.5230 0.0283 219.1365);
  --muted-foreground: oklch(0.6979 0.0159 196.7940);
  --accent: oklch(0.5808 0.1732 39.5003);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5863 0.2064 27.1172);
  --border: oklch(0.5230 0.0283 219.1365);
  --input: oklch(0.5230 0.0283 219.1365);
  --ring: oklch(0.5924 0.2025 355.8943);
  --chart-1: oklch(0.6149 0.1394 244.9273);
  --chart-2: oklch(0.6437 0.1019 187.3840);
  --chart-3: oklch(0.5924 0.2025 355.8943);
  --chart-4: oklch(0.5808 0.1732 39.5003);
  --chart-5: oklch(0.5863 0.2064 27.1172);
  --sidebar: oklch(0.2673 0.0486 219.8169);
  --sidebar-foreground: oklch(0.6979 0.0159 196.7940);
  --sidebar-primary: oklch(0.5924 0.2025 355.8943);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6437 0.1019 187.3840);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5230 0.0283 219.1365);
  --sidebar-ring: oklch(0.5924 0.2025 355.8943);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.25rem;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(196 83% 10%);
  --shadow-opacity: 0.15;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  /* 
   * Aurora 动画配置
   */
  --animate-aurora: aurora 120s linear infinite;

  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }

    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}